.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating input:checked ~ label ~ label {
    color: #ffcc00;
  }
  