{% extends 'menu/PlantillaEntorno.html' %}
{% load static %}

{% block titulo %}
<title>El Salón Selecto</title>
<link rel="stylesheet" href="{% static 'menu\css\style.css' %}">
{% endblock titulo %}

{% block body %}
<section class="wrapper">
    <div class="form signup">
        <header>Cambiar Contraseña.</header>
        <form method="POST" action="{% url 'recupcontra' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="email" placeholder="Correo" id="email" required />
            <button type="submit" name="action" value="send_code">Enviar </button>
            <br>
            Se enviará un código a su correo para verificar que es usted.
        </form>
    </div>
</section>
{% endblock body %}
    
{% block script %}
<script>
    function validarInput(event) {
        const teclaPresionada = event.key;
        if (teclaPresionada === " " || teclaPresionada === "ñ" || teclaPresionada === "Ñ") {
            event.preventDefault();
        }
    }
</script>
{% endblock script %}