{% extends 'menu/PlantillaEntorno.html' %}
{% load static %}

{% block titulo %}
<title>El Salón Selecto</title>
<link rel="stylesheet" href="{% static 'menu\css\style.css' %}">
{% endblock titulo %}

{% block body %}
<section class="wrapper">
    <div class="form signup">
        <header>Cambiar Contraseña.</header>
        <form method="POST" action="{% url 'cambiarcontra' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="nuevapassword" name="nuevapassword" placeholder="Nueva Contraseña." required></input>
            <br>
            <input type="text" id="confirmarnuevapassword" name="confirmarnuevapassword" placeholder="Confirme Nueva Contraseña." required></input>
            <button type="submit" name="action" value="send_code" formaction="cambiarcontra">Confirmar Contraseña</button>
            <br>
            Al cambiar la contraseña, se le enviará un código de verificación para comprobar que es usted.
        </form>
    </div>
</section>
{% endblock body %}
    
{% block script %}
<script>
    function validarInput(event) {
        const teclaPresionada = event.key;
        if (teclaPresionada === " " || teclaPresionada === "ñ" || teclaPresionada === "Ñ") {
            event.preventDefault();
        }
    }
</script>
{% endblock script %}