{% extends 'menu/PlantillaEntorno.html' %}
{% load static %}

{% block titulo %}
<title>El Salón Selecto</title>
<link rel="stylesheet" href="{% static 'menu/css/style.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'menu/js/vali_index.js' %}"></script>
{% endblock titulo %}

<!-- iniciar sesion -->
{% block body %}
<section class="wrapper">
	<div class="form signup">
	  <header>Iniciar sesión</header>
	  <!-- formulario inicio de sesion -->
	  <form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<!-- campo correo electronico -->
		<input type="email" id="email" name="email" placeholder="Correo" required />
		<!-- contraseña -->
		<input
		  type="password"
		  id="password"
		  name="password"
		  placeholder="Contraseña"
		  minlength="10"
		  maxlength="30"
		  required
		/>
		<!-- enlace para recuperar contraseña -->
		<a href="recuperacion.html">¿Olvidaste tu contraseña?</a>
		<button type="submit" formaction="{% url 'login' %}" class="small-button">Ingresar</button>
	  </form>
	  {% if error_message %}
	  <p>{{ error_message }}</p>
	{% endif %}
	<!-- formulario de registro -->
	<form>
		<button type="submit" formaction="{% url 'registro' %}" class="small-button">Registrarse</button>
	</form>

  </div>
</div>

<script>
	const wrapper = document.querySelector(".wrapper"),
	  signupHeader = document.querySelector(".signup header"),
	  loginHeader = document.querySelector(".login header");

	loginHeader.addEventListener("click", () => {
	  wrapper.classList.add("active");
	});
	signupHeader.addEventListener("click", () => {
	  wrapper.classList.remove("active");
	});
</script>
</section>
{% endblock body %}
