{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  {% block titulo %}
  {% endblock titulo %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  {% block estilos %}
  {% endblock estilos %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% block headstyle %}
  {% endblock headstyle %}

</head>

<body>
  {% block body %}
  {% endblock body %}

  {% block javascript %}
  {% endblock javascript %}
  
  {% block script %}
  {% endblock script %}
</body>

</html>