{% extends 'menu/PlantillaEntorno.html' %}
{% load static %}

{% block titulo %}
<title>El Salón Selecto</title>
<link rel="stylesheet" href="{% static 'menu\css\recuperacion.css' %}"/>
{% endblock titulo %}

{% block body %}
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            {% csrf_token %}
            <div class="input-container">
                <span>Recuperar contraseña.</span>
                <input type="text" placeholder="XXXX-XXXX" minlength="9" maxlength="9" pattern="\d{4}-\d{4}"  id="codigo_veri" required title="Debe ingresar un número de 8 dígitos separados por un guión (-). Ejemplo: 1234-5678">
            </div>
            <button type="submit" formaction="recuperacion3.html">Confirmar</button>
        </form>
    </div>
</div>
{% endblock body %}