{% extends 'menu/PlantillaEntorno.html' %}
{% load static %}

{% block titulo %}
<title>El Salón Selecto</title>
<link rel="stylesheet" href="{% static 'menu\css\style.css' %}"/>
{% endblock titulo %}

{% block body %}
<section class="wrapper">
    <div class="form">
      <header>Confirmar Cambio de Contraseña</header>
      <form method="post" action="{% url 'cambiarcontra2' %}">
        {% csrf_token %}
        <input type="text" id="codigo" name="codigo" placeholder="Código de Verificación" required />
        <button type="submit" class="small-button" formaction="cambiarcontra">Crear Usuario</button>
      </form>
    </div>
  </section>
{% endblock body %}
